<!-- About-->
<section class="content-section bg-light" id="about">
  <div class="container px-4 px-lg-5 text-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-10">
        <img src="../../../assets/tariqcvphotos.jpg" width="180" style="border-radius: 100%; border: 1px solid #fff;"
          class=" img-fluid my-4" alt="tariq">
        <h2 class="text-secondary mb-4">Tariq Portfolio</h2>
        <p class="lead mb-5">
          I'm Tariq selawi, Living in Liège, Thirsty to learn new techno, Friendly 😁 , Programs languages ❤️ (web
          developer),
          Self-taught person, Working hard 🏋🏻‍♂️ and you could explore my Github profile
          <a href="https://github.com/tselawi"><img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg"
              height="50" /></a>
          !
        </p>
        <p class="lead mb-5">Currently, I'm looking forward to have job in Belgium. I'm flexible! </p>
        <a class="btn btn-dark btn-xl" routerLink="/projects"><i class="fas fa-tasks"></i> See my project</a>
      </div>
    </div>
  </div>
</section>
