<!-- Navigation-->
<a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="/">Tariq Selawi </a></li>
    <li class="sidebar-nav-item"><a routerLink="/about" routerLinkActive="active">About</a></li>
    <!-- <li class="sidebar-nav-item"><a routerLink="/skill" routerLinkActive="active">Skills</a></li> -->
    <li class="sidebar-nav-item"><a routerLink="/projects">Portfolio</a></li>
    <li class="sidebar-nav-item"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    <hr style="height: 2px; background: #fff;">
    <div class="text-center">
      <div class="container px-4 px-lg-5">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link mr-3 fs-3 text-white" href="https://www.linkedin.com/in/tariq-selawi/"><i
                class="icon-social-linkedin"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-link text-white mr-3 fs-3" href="https://twitter.com/selawi_be"><i
                class="icon-social-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="social-link text-white mr-3 fs-3" href="https://github.com/Tselawi"><i
                class="icon-social-github"></i></a>
          </li>
        </ul>
        <p class="text-white small mb-0"> &copy; Tariq Portfolio 2021</p>
      </div>
    </div>
  </ul>
</nav>
